<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>

    <application>
        <activity
            android:name="com.feature_camera.ui.camera.CameraActivity"
            android:exported="false">
        </activity>
    </application>

</manifest>